<div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
    @views.html.admin.pages.products.menu("category")
    </div>
    <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
        <h1 class="page-header">カテゴリ登録</h1>

        <div class="row">
            <div class="col-sm-4">
                <ul id="category_tree">
                    <li ng-click="selectRoot()">ホーム</li>
                    <ec3-category-tree base="common" categories="categoryTree"></ec3-category-tree>
                </ul>
            </div>
            <div class="col-sm-8">
                <form class="form-inline" role="form" ng-submit="updateCategoryName()">
                    <div class="form-group" ng-class="{'has-error':hasSameName()||!hasInput()}">
                        <h3 ng-hide="editing && selectedCategory.id>0" ng-dblclick="edit()">{{selectedCategory.name}}</h3>
                        <input type="text" class="form-control" placeholder="カテゴリ名" ng-show="editing" ng-model="editedCategoryName" focus-on="onEditStart">
                        <span class="help-block" ng-show="hasSameName()">同じ階層に同名のカテゴリ名が存在しています。</span>
                        <span class="help-block" ng-show="!hasInput()">カテゴリ名は一文字以上の入力が必要です。</span>
                    </div>
                    <button type="button" class="btn btn-default pull-right" ng-hide="editing || selectedCategory.id<1" ng-click="edit()">名前を編集</button>
                    <button type="submit" class="btn btn-default pull-right" ng-show="editing" ng-disabled="!submitEnabled()" disabled>登録</button>
                </form>

                <hr>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputCategoryName" class="col-sm-3 control-label">カテゴリを追加</label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="categoryName" class="form-control" id="inputCategoryName" placeholder="追加するカテゴリ名">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-10 col-sm-2">
                            <button type="submit" class="btn btn-default" ng-disabled="!addEnabled()" ng-click="addCategory(categoryName)" ><span class="glyphicon glyphicon-plus"></span>
                                追加 </button>
                        </div>
                    </div>
                </form>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td class="col-md-9"></td>
                                <td class="col-md-2">移動</td>
                                <td class="col-md-1">削除</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="child in children | orderBy:'rank':true">
                                <td class="col-md-9">{{child.name}}{{child.rank}}</td>
                                <td class="col-md-2">
                                    <button class="btn" ng-if="children[$index-1]" ng-click="up(child,children[$index-1])"><span class="glyphicon glyphicon-arrow-up" ></span></button>
                                    <button class="btn" ng-if="!children[$index-1]" disabled><span class="glyphicon glyphicon-minus"></span></button>
                                    <button class="btn" ng-if="children[$index+1]" ng-click="down(child,children[$index+1])"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                    <button class="btn" ng-if="!children[$index+1]" disabled><span class="glyphicon glyphicon-minus"></span></button>
                                </td>
                                <td class="col-md-1"><button class="btn" ng-click="remove(child)"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>