<header class="navbar navbar-inverse navbar-fixed-top basics-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Play EC API</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/products">Products</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/info">Info</a></li>
                        <li><a href="/another">Another action</a></li>
                        <li><a href="/abouts">About</a></li>
                        <li><a href="/guide/privacy">プライバシポリシー</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/mypage/login">
                    <span class="glyphicon glyphicon-user"></span> MyPage</a>
                </li>
                <li><a href="/cart">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
                </li>
                <li>
                    <form class="navbar-form" role="search" ng-submit="searchProduct(searchWord)">
                        <div class="input-group form-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                            <input type="text" class="form-control" placeholder="Search" ng-model="searchWord"
                                   ng-keyup="preSearchProduct(searchWord)">
                        </div>
                        <button type="submit" class="btn btn-default">Search <span ng-if="hits>0">Hits:{{hits}}</span>
                        </button>
                    </form>
                </li>
            </ul>

        </div>
    </div>
</header>